<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>:: CLAN ISSIME ::</title>
        <meta name="description" content="Colección LONDON Invierno 2014">
        <link rel="shortcut icon" href="{{ paths.PATH_IMAGES_PERMANENTES }}clan.ico" type="image/x-icon">
        <meta property="og:image" content="{{ paths.PATH_IMAGES_PERMANENTES }}img-face.png">
        <link href='http://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Oxygen:400,300,700' rel='stylesheet' type='text/css'>

        <link href="{{ paths.PATH_CSS }}estilos.css?id={{rand}}" rel="stylesheet">
        <link href="{{ paths.PATH_CSS }}flexnav.css" rel="stylesheet">
        
        <script src="{{ paths.PATH_JS }}modernizr-2.5.3.js"></script>
        <script src="{{ paths.PATH_JS }}jquery-1.10.2.min.js"></script>	
        <script src="{{ paths.PATH_JS }}jquery-ui-1.10.3.custom.min.js"></script>

        <script type="text/javascript">
            {% autoescape false %}
            var PATH_PHP_ADMIN = {{ pathsJson.PATH_PHP_ADMIN }};
            var PATH_PHP = {{ pathsJson.PATH_PHP }};
            var PATH_CONTROLLER = {{ pathsJson.PATH_CONTROLLER }};
			var PATH_HOME = {{ pathsJson.PATH_HOME }};
            var PATH_PHP_MODULES_IMAGES = {{ pathsJson.PATH_PHP_MODULES_IMAGES }};
            {% endautoescape %}
        </script>
        
    </head>