<!-- rligthbox -->
<script type="text/javascript" src="{{ paths.PATH_JS }}jquery.ui.core.min.js"></script>
<script type="text/javascript" src="{{ paths.PATH_JS }}jquery.ui.widget.min.js"></script>
<script type="text/javascript" src="{{ paths.PATH_JS }}jquery.ui.rlightbox.min.js"></script>

<link type="text/css" rel="stylesheet" href="{{ paths.PATH_CSS }}jquery-ui-1.10.1.custom.css" />
<link type="text/css" rel="stylesheet" href="{{ paths.PATH_CSS }}lightbox.css" />

<script type="text/javascript">
    jQuery(function($) {
	$( ".lb_catalogo" ).rlightbox();
    });
</script>
<!-- /rligthbox -->


<section>
    <h2>Lookbook</h2>

    <div id="gallery">
        <ul>
            <h3>Boutique</h3>
            <li><a href="{{ paths.PATH_IMAGES }}lookbook/02amp.jpg" class="lb_catalogo"><img src="{{ paths.PATH_IMAGES }}lookbook/02min.jpg" width="150" height="197"></a></li>
            <li><a href="{{ paths.PATH_IMAGES }}lookbook/07amp.jpg" class="lb_catalogo"><img src="{{ paths.PATH_IMAGES }}lookbook/07min.jpg" width="150" height="197"></a></li>
            <li><a href="{{ paths.PATH_IMAGES }}lookbook/09amp.jpg" class="lb_catalogo"><img src="{{ paths.PATH_IMAGES }}lookbook/09min.jpg" width="150" height="197"></a></li>
            <li><a href="{{ paths.PATH_IMAGES }}lookbook/14amp.jpg" class="lb_catalogo"><img src="{{ paths.PATH_IMAGES }}lookbook/14min.jpg" width="150" height="197"></a></li>
            <li><a href="{{ paths.PATH_IMAGES }}lookbook/15amp.jpg" class="lb_catalogo"><img src="{{ paths.PATH_IMAGES }}lookbook/15min.jpg" width="150" height="197"></a></li>
            <li><a href="{{ paths.PATH_IMAGES }}lookbook/20amp.jpg" class="lb_catalogo"><img src="{{ paths.PATH_IMAGES }}lookbook/20min.jpg" width="150" height="197"></a></li>
			<li><a href="{{ paths.PATH_IMAGES }}lookbook/23amp.jpg" class="lb_catalogo"><img src="{{ paths.PATH_IMAGES }}lookbook/23min.jpg" width="150" height="197"></a></li>

            <li><a href="{{ paths.PATH_IMAGES }}lookbook/24amp.jpg" class="lb_catalogo"><img src="{{ paths.PATH_IMAGES }}lookbook/24min.jpg" width="150" height="197"></a></li>
            <li><a href="{{ paths.PATH_IMAGES }}lookbook/31amp.jpg" class="lb_catalogo"><img src="{{ paths.PATH_IMAGES }}lookbook/31min.jpg" width="150" height="197"></a></li>
            <li><a href="{{ paths.PATH_IMAGES }}lookbook/37amp.jpg" class="lb_catalogo"><img src="{{ paths.PATH_IMAGES }}lookbook/37min.jpg" width="150" height="197"></a></li>
            <li><a href="{{ paths.PATH_IMAGES }}lookbook/40amp.jpg" class="lb_catalogo"><img src="{{ paths.PATH_IMAGES }}lookbook/40min.jpg" width="150" height="197"></a></li>
            <div class="clear"></div>

            <h3>Classic</h3>
			<li><a href="{{ paths.PATH_IMAGES }}lookbook/01amp.jpg" class="lb_catalogo"><img src="{{ paths.PATH_IMAGES }}lookbook/01min.jpg" width="150" height="197"></a></li>
            <li><a href="{{ paths.PATH_IMAGES }}lookbook/04amp.jpg" class="lb_catalogo"><img src="{{ paths.PATH_IMAGES }}lookbook/04min.jpg" width="150" height="197"></a></li>
            <li><a href="{{ paths.PATH_IMAGES }}lookbook/05amp.jpg" class="lb_catalogo"><img src="{{ paths.PATH_IMAGES }}lookbook/05min.jpg" width="150" height="197"></a></li>
            <li><a href="{{ paths.PATH_IMAGES }}lookbook/08amp.jpg" class="lb_catalogo"><img src="{{ paths.PATH_IMAGES }}lookbook/08min.jpg" width="150" height="197"></a></li>
            <li><a href="{{ paths.PATH_IMAGES }}lookbook/11amp.jpg" class="lb_catalogo"><img src="{{ paths.PATH_IMAGES }}lookbook/11min.jpg" width="150" height="197"></a></li>
            <li><a href="{{ paths.PATH_IMAGES }}lookbook/12amp.jpg" class="lb_catalogo"><img src="{{ paths.PATH_IMAGES }}lookbook/12min.jpg" width="150" height="197"></a></li>
          	<li><a href="{{ paths.PATH_IMAGES }}lookbook/21amp.jpg" class="lb_catalogo"><img src="{{ paths.PATH_IMAGES }}lookbook/21min.jpg" width="150" height="197"></a></li>
           
            <li><a href="{{ paths.PATH_IMAGES }}lookbook/25amp.jpg" class="lb_catalogo"><img src="{{ paths.PATH_IMAGES }}lookbook/25min.jpg" width="150" height="197"></a></li>
            <li><a href="{{ paths.PATH_IMAGES }}lookbook/34amp.jpg" class="lb_catalogo"><img src="{{ paths.PATH_IMAGES }}lookbook/34min.jpg" width="150" height="197"></a></li>
            <li><a href="{{ paths.PATH_IMAGES }}lookbook/35amp.jpg" class="lb_catalogo"><img src="{{ paths.PATH_IMAGES }}lookbook/35min.jpg" width="150" height="197"></a></li>
            <li><a href="{{ paths.PATH_IMAGES }}lookbook/36amp.jpg" class="lb_catalogo"><img src="{{ paths.PATH_IMAGES }}lookbook/36min.jpg" width="150" height="197"></a></li>
            <li><a href="{{ paths.PATH_IMAGES }}lookbook/39amp.jpg" class="lb_catalogo"><img src="{{ paths.PATH_IMAGES }}lookbook/39min.jpg" width="150" height="197"></a></li>
            <div class="clear"></div>

            <h3>Rock steady</h3>
            <li><a href="{{ paths.PATH_IMAGES }}lookbook/03amp.jpg" class="lb_catalogo"><img src="{{ paths.PATH_IMAGES }}lookbook/03min.jpg" width="150" height="197"></a></li>
            <li><a href="{{ paths.PATH_IMAGES }}lookbook/10amp.jpg" class="lb_catalogo"><img src="{{ paths.PATH_IMAGES }}lookbook/10min.jpg" width="150" height="197"></a></li>
            <li><a href="{{ paths.PATH_IMAGES }}lookbook/13amp.jpg" class="lb_catalogo"><img src="{{ paths.PATH_IMAGES }}lookbook/13min.jpg" width="150" height="197"></a></li>
            <li><a href="{{ paths.PATH_IMAGES }}lookbook/17amp.jpg" class="lb_catalogo"><img src="{{ paths.PATH_IMAGES }}lookbook/17min.jpg" width="150" height="197"></a></li>
            <li><a href="{{ paths.PATH_IMAGES }}lookbook/19amp.jpg" class="lb_catalogo"><img src="{{ paths.PATH_IMAGES }}lookbook/19min.jpg" width="150" height="197"></a></li>
            
            <li><a href="{{ paths.PATH_IMAGES }}lookbook/33amp.jpg" class="lb_catalogo"><img src="{{ paths.PATH_IMAGES }}lookbook/33min.jpg" width="150" height="197"></a></li>
            <!-- <li><a href="{{ paths.PATH_IMAGES }}lookbook/38amp.jpg" class="lb_catalogo"><img src="{{ paths.PATH_IMAGES }}lookbook/38min.jpg" width="150" height="197"></a></li> -->
            <div class="clear"></div>

            <h3>London Night</h3>
            <li><a href="{{ paths.PATH_IMAGES }}lookbook/06amp.jpg" class="lb_catalogo"><img src="{{ paths.PATH_IMAGES }}lookbook/06min.jpg" width="150" height="197"></a></li>
            <li><a href="{{ paths.PATH_IMAGES }}lookbook/16amp.jpg" class="lb_catalogo"><img src="{{ paths.PATH_IMAGES }}lookbook/16min.jpg" width="150" height="197"></a></li>
            <li><a href="{{ paths.PATH_IMAGES }}lookbook/18amp.jpg" class="lb_catalogo"><img src="{{ paths.PATH_IMAGES }}lookbook/18min.jpg" width="150" height="197"></a></li>
            <li><a href="{{ paths.PATH_IMAGES }}lookbook/22amp.jpg" class="lb_catalogo"><img src="{{ paths.PATH_IMAGES }}lookbook/22min.jpg" width="150" height="197"></a></li>

            <li><a href="{{ paths.PATH_IMAGES }}lookbook/26amp.jpg" class="lb_catalogo"><img src="{{ paths.PATH_IMAGES }}lookbook/26min.jpg" width="150" height="197"></a></li>
            <li><a href="{{ paths.PATH_IMAGES }}lookbook/27amp.jpg" class="lb_catalogo"><img src="{{ paths.PATH_IMAGES }}lookbook/27min.jpg" width="150" height="197"></a></li>
            <li><a href="{{ paths.PATH_IMAGES }}lookbook/28amp.jpg" class="lb_catalogo"><img src="{{ paths.PATH_IMAGES }}lookbook/28min.jpg" width="150" height="197"></a></li>
            <li><a href="{{ paths.PATH_IMAGES }}lookbook/29amp.jpg" class="lb_catalogo"><img src="{{ paths.PATH_IMAGES }}lookbook/29min.jpg" width="150" height="197"></a></li>
            <li><a href="{{ paths.PATH_IMAGES }}lookbook/30amp.jpg" class="lb_catalogo"><img src="{{ paths.PATH_IMAGES }}lookbook/30min.jpg" width="150" height="197"></a></li>
            <li><a href="{{ paths.PATH_IMAGES }}lookbook/32amp.jpg" class="lb_catalogo"><img src="{{ paths.PATH_IMAGES }}lookbook/32min.jpg" width="150" height="197"></a></li>
            </ul>
        <div class="clear"></div>
    </div>
</section>
